.DS_Store
application/config/config.php
application/config/site_config.php
application/config/database.php
application/config/email.php
application/logs/*
bds_stuff/*
public/media/*
public/pubmedia/*
public/img_cache/media/*
public/img_cache/product/*
public/css/icons
build.txt
bkup/
book_covers/
data/
public/product
tmp/
*.pxm

application/config/dynamic_routes.php
