/* P O L L S */
div.poll {
	border: 3px solid #666;
	padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div.poll p.question {
	margin-bottom: 5px;
	font-weight: bold;
}

div.poll ul {
	margin-left: 20px;
	list-style: none;
}

div.poll li {
}

/* A R T I C L E S */
.article {
	border-bottom: 2px solid #ddd;
	padding-bottom: 5px;
}

.article h3 {
	padding-top: 5px;
}

.article span.date {
	color: #888;
	font-weight: bold;
	font-style: italic;
	border-bottom: 1px solid #ddd;
	float: right;
}

.article a.read-more {
	font-style: italic;
	text-decoration: none;
}

.article img {
	padding: 5px;
}