.glyphicons-000-glass {
	background-image: url(sprite.png);
	background-position: 0px -0px;
	height: 24px;
	width: 24px;
}

.glyphicons-001-leaf {
	background-image: url(sprite.png);
	background-position: 0px -24px;
	height: 25px;
	width: 24px;
}

.glyphicons-002-dog {
	background-image: url(sprite.png);
	background-position: 0px -49px;
	height: 25px;
	width: 26px;
}

.glyphicons-003-user {
	background-image: url(sprite.png);
	background-position: 0px -74px;
	height: 22px;
	width: 23px;
}

.glyphicons-004-girl {
	background-image: url(sprite.png);
	background-position: 0px -96px;
	height: 22px;
	width: 22px;
}

.glyphicons-005-car {
	background-image: url(sprite.png);
	background-position: 0px -118px;
	height: 22px;
	width: 26px;
}

.glyphicons-006-user-add {
	background-image: url(sprite.png);
	background-position: 0px -140px;
	height: 22px;
	width: 28px;
}

.glyphicons-007-user-remove {
	background-image: url(sprite.png);
	background-position: 0px -162px;
	height: 22px;
	width: 26px;
}

.glyphicons-008-film {
	background-image: url(sprite.png);
	background-position: 0px -184px;
	height: 26px;
	width: 22px;
}

.glyphicons-009-magic {
	background-image: url(sprite.png);
	background-position: 0px -210px;
	height: 24px;
	width: 24px;
}

.glyphicons-010-envelope {
	background-image: url(sprite.png);
	background-position: 0px -234px;
	height: 16px;
	width: 24px;
}

.glyphicons-011-camera {
	background-image: url(sprite.png);
	background-position: 0px -250px;
	height: 20px;
	width: 26px;
}

.glyphicons-012-heart {
	background-image: url(sprite.png);
	background-position: 0px -270px;
	height: 22px;
	width: 24px;
}

.glyphicons-013-beach-umbrella {
	background-image: url(sprite.png);
	background-position: 0px -292px;
	height: 24px;
	width: 24px;
}

.glyphicons-014-train {
	background-image: url(sprite.png);
	background-position: 0px -316px;
	height: 26px;
	width: 20px;
}

.glyphicons-015-print {
	background-image: url(sprite.png);
	background-position: 0px -342px;
	height: 24px;
	width: 24px;
}

.glyphicons-016-bin {
	background-image: url(sprite.png);
	background-position: 0px -366px;
	height: 28px;
	width: 20px;
}

.glyphicons-017-music {
	background-image: url(sprite.png);
	background-position: 0px -394px;
	height: 25px;
	width: 21px;
}

.glyphicons-018-note {
	background-image: url(sprite.png);
	background-position: 0px -419px;
	height: 25px;
	width: 18px;
}

.glyphicons-019-heart-empty {
	background-image: url(sprite.png);
	background-position: 0px -444px;
	height: 22px;
	width: 24px;
}

.glyphicons-020-home {
	background-image: url(sprite.png);
	background-position: 0px -466px;
	height: 26px;
	width: 27px;
}

.glyphicons-021-snowflake {
	background-image: url(sprite.png);
	background-position: 0px -492px;
	height: 28px;
	width: 28px;
}

.glyphicons-022-fire {
	background-image: url(sprite.png);
	background-position: 0px -520px;
	height: 26px;
	width: 21px;
}

.glyphicons-023-magnet {
	background-image: url(sprite.png);
	background-position: 0px -546px;
	height: 23px;
	width: 21px;
}

.glyphicons-024-parents {
	background-image: url(sprite.png);
	background-position: 0px -569px;
	height: 22px;
	width: 32px;
}

.glyphicons-025-binoculars {
	background-image: url(sprite.png);
	background-position: 0px -591px;
	height: 24px;
	width: 24px;
}

.glyphicons-026-road {
	background-image: url(sprite.png);
	background-position: 0px -615px;
	height: 24px;
	width: 28px;
}

.glyphicons-027-search {
	background-image: url(sprite.png);
	background-position: 0px -639px;
	height: 24px;
	width: 24px;
}

.glyphicons-028-cars {
	background-image: url(sprite.png);
	background-position: 0px -663px;
	height: 25px;
	width: 36px;
}

.glyphicons-029-notes-2 {
	background-image: url(sprite.png);
	background-position: 0px -688px;
	height: 27px;
	width: 20px;
}

.glyphicons-030-pencil {
	background-image: url(sprite.png);
	background-position: 0px -715px;
	height: 24px;
	width: 24px;
}

.glyphicons-031-bus {
	background-image: url(sprite.png);
	background-position: 0px -739px;
	height: 25px;
	width: 32px;
}

.glyphicons-032-wifi-alt {
	background-image: url(sprite.png);
	background-position: 0px -764px;
	height: 26px;
	width: 26px;
}

.glyphicons-033-luggage {
	background-image: url(sprite.png);
	background-position: 0px -790px;
	height: 27px;
	width: 20px;
}

.glyphicons-034-old-man {
	background-image: url(sprite.png);
	background-position: 0px -817px;
	height: 24px;
	width: 23px;
}

.glyphicons-035-woman {
	background-image: url(sprite.png);
	background-position: 0px -841px;
	height: 22px;
	width: 22px;
}

.glyphicons-036-file {
	background-image: url(sprite.png);
	background-position: 0px -863px;
	height: 24px;
	width: 19px;
}

.glyphicons-037-coins {
	background-image: url(sprite.png);
	background-position: 0px -887px;
	height: 24px;
	width: 26px;
}

.glyphicons-038-airplane {
	background-image: url(sprite.png);
	background-position: 0px -911px;
	height: 25px;
	width: 24px;
}

.glyphicons-039-notes {
	background-image: url(sprite.png);
	background-position: 0px -936px;
	height: 25px;
	width: 20px;
}

.glyphicons-040-stats {
	background-image: url(sprite.png);
	background-position: 0px -961px;
	height: 25px;
	width: 26px;
}

.glyphicons-041-charts {
	background-image: url(sprite.png);
	background-position: 0px -986px;
	height: 24px;
	width: 27px;
}

.glyphicons-042-pie-chart {
	background-image: url(sprite.png);
	background-position: 0px -1010px;
	height: 25px;
	width: 26px;
}

.glyphicons-043-group {
	background-image: url(sprite.png);
	background-position: 0px -1035px;
	height: 22px;
	width: 35px;
}

.glyphicons-044-keys {
	background-image: url(sprite.png);
	background-position: 0px -1057px;
	height: 26px;
	width: 24px;
}

.glyphicons-045-calendar {
	background-image: url(sprite.png);
	background-position: 0px -1083px;
	height: 24px;
	width: 23px;
}

.glyphicons-046-router {
	background-image: url(sprite.png);
	background-position: 0px -1107px;
	height: 26px;
	width: 27px;
}

.glyphicons-047-camera-small {
	background-image: url(sprite.png);
	background-position: 0px -1133px;
	height: 24px;
	width: 22px;
}

.glyphicons-048-dislikes {
	background-image: url(sprite.png);
	background-position: 0px -1157px;
	height: 24px;
	width: 25px;
}

.glyphicons-049-star {
	background-image: url(sprite.png);
	background-position: 0px -1181px;
	height: 24px;
	width: 25px;
}

.glyphicons-050-link {
	background-image: url(sprite.png);
	background-position: 0px -1205px;
	height: 23px;
	width: 21px;
}

.glyphicons-051-eye-open {
	background-image: url(sprite.png);
	background-position: 0px -1228px;
	height: 17px;
	width: 31px;
}

.glyphicons-052-eye-close {
	background-image: url(sprite.png);
	background-position: 0px -1245px;
	height: 24px;
	width: 31px;
}

.glyphicons-053-alarm {
	background-image: url(sprite.png);
	background-position: 0px -1269px;
	height: 25px;
	width: 27px;
}

.glyphicons-054-clock {
	background-image: url(sprite.png);
	background-position: 0px -1294px;
	height: 24px;
	width: 24px;
}

.glyphicons-055-stopwatch {
	background-image: url(sprite.png);
	background-position: 0px -1318px;
	height: 27px;
	width: 23px;
}

.glyphicons-056-projector {
	background-image: url(sprite.png);
	background-position: 0px -1345px;
	height: 25px;
	width: 28px;
}

.glyphicons-057-history {
	background-image: url(sprite.png);
	background-position: 0px -1370px;
	height: 26px;
	width: 25px;
}

.glyphicons-058-truck {
	background-image: url(sprite.png);
	background-position: 0px -1396px;
	height: 27px;
	width: 32px;
}

.glyphicons-059-cargo {
	background-image: url(sprite.png);
	background-position: 0px -1423px;
	height: 26px;
	width: 25px;
}

.glyphicons-060-compass {
	background-image: url(sprite.png);
	background-position: 0px -1449px;
	height: 24px;
	width: 24px;
}

.glyphicons-061-keynote {
	background-image: url(sprite.png);
	background-position: 0px -1473px;
	height: 30px;
	width: 20px;
}

.glyphicons-062-paperclip {
	background-image: url(sprite.png);
	background-position: 0px -1503px;
	height: 24px;
	width: 26px;
}

.glyphicons-063-power {
	background-image: url(sprite.png);
	background-position: 0px -1527px;
	height: 24px;
	width: 22px;
}

.glyphicons-064-lightbulb {
	background-image: url(sprite.png);
	background-position: 0px -1551px;
	height: 26px;
	width: 20px;
}

.glyphicons-065-tag {
	background-image: url(sprite.png);
	background-position: 0px -1577px;
	height: 24px;
	width: 24px;
}

.glyphicons-066-tags {
	background-image: url(sprite.png);
	background-position: 0px -1601px;
	height: 24px;
	width: 30px;
}

.glyphicons-067-cleaning {
	background-image: url(sprite.png);
	background-position: 0px -1625px;
	height: 25px;
	width: 24px;
}

.glyphicons-068-ruller {
	background-image: url(sprite.png);
	background-position: 0px -1650px;
	height: 14px;
	width: 27px;
}

.glyphicons-069-gift {
	background-image: url(sprite.png);
	background-position: 0px -1664px;
	height: 25px;
	width: 24px;
}

.glyphicons-070-umbrella {
	background-image: url(sprite.png);
	background-position: 0px -1689px;
	height: 28px;
	width: 26px;
}

.glyphicons-071-book {
	background-image: url(sprite.png);
	background-position: 0px -1717px;
	height: 24px;
	width: 22px;
}

.glyphicons-072-bookmark {
	background-image: url(sprite.png);
	background-position: 0px -1741px;
	height: 24px;
	width: 15px;
}

.glyphicons-073-wifi {
	background-image: url(sprite.png);
	background-position: 0px -1765px;
	height: 23px;
	width: 31px;
}

.glyphicons-074-cup {
	background-image: url(sprite.png);
	background-position: 0px -1788px;
	height: 24px;
	width: 22px;
}

.glyphicons-075-stroller {
	background-image: url(sprite.png);
	background-position: 0px -1812px;
	height: 26px;
	width: 25px;
}

.glyphicons-076-headphones {
	background-image: url(sprite.png);
	background-position: 0px -1838px;
	height: 24px;
	width: 24px;
}

.glyphicons-077-headset {
	background-image: url(sprite.png);
	background-position: 0px -1862px;
	height: 28px;
	width: 24px;
}

.glyphicons-078-warning-sign {
	background-image: url(sprite.png);
	background-position: 0px -1890px;
	height: 24px;
	width: 29px;
}

.glyphicons-079-signal {
	background-image: url(sprite.png);
	background-position: 0px -1914px;
	height: 24px;
	width: 24px;
}

.glyphicons-080-retweet {
	background-image: url(sprite.png);
	background-position: 0px -1938px;
	height: 15px;
	width: 28px;
}

.glyphicons-081-refresh {
	background-image: url(sprite.png);
	background-position: 0px -1953px;
	height: 26px;
	width: 25px;
}

.glyphicons-082-roundabout {
	background-image: url(sprite.png);
	background-position: 0px -1979px;
	height: 26px;
	width: 26px;
}

.glyphicons-083-random {
	background-image: url(sprite.png);
	background-position: 0px -2005px;
	height: 20px;
	width: 28px;
}

.glyphicons-084-heat {
	background-image: url(sprite.png);
	background-position: 0px -2025px;
	height: 25px;
	width: 29px;
}

.glyphicons-085-repeat {
	background-image: url(sprite.png);
	background-position: 0px -2050px;
	height: 26px;
	width: 23px;
}

.glyphicons-086-display {
	background-image: url(sprite.png);
	background-position: 0px -2076px;
	height: 24px;
	width: 28px;
}

.glyphicons-087-log-book {
	background-image: url(sprite.png);
	background-position: 0px -2100px;
	height: 24px;
	width: 22px;
}

.glyphicons-088-adress-book {
	background-image: url(sprite.png);
	background-position: 0px -2124px;
	height: 24px;
	width: 22px;
}

.glyphicons-089-building {
	background-image: url(sprite.png);
	background-position: 0px -2148px;
	height: 26px;
	width: 24px;
}

.glyphicons-090-eyedropper {
	background-image: url(sprite.png);
	background-position: 0px -2174px;
	height: 24px;
	width: 24px;
}

.glyphicons-091-adjust {
	background-image: url(sprite.png);
	background-position: 0px -2198px;
	height: 26px;
	width: 26px;
}

.glyphicons-092-tint {
	background-image: url(sprite.png);
	background-position: 0px -2224px;
	height: 25px;
	width: 24px;
}

.glyphicons-093-crop {
	background-image: url(sprite.png);
	background-position: 0px -2249px;
	height: 26px;
	width: 26px;
}

.glyphicons-094-vector-path-square {
	background-image: url(sprite.png);
	background-position: 0px -2275px;
	height: 24px;
	width: 24px;
}

.glyphicons-095-vector-path-circle {
	background-image: url(sprite.png);
	background-position: 0px -2299px;
	height: 24px;
	width: 24px;
}

.glyphicons-096-vector-path-polygon {
	background-image: url(sprite.png);
	background-position: 0px -2323px;
	height: 25px;
	width: 26px;
}

.glyphicons-097-vector-path-line {
	background-image: url(sprite.png);
	background-position: 0px -2348px;
	height: 24px;
	width: 24px;
}

.glyphicons-098-vector-path-curve {
	background-image: url(sprite.png);
	background-position: 0px -2372px;
	height: 24px;
	width: 24px;
}

.glyphicons-099-vector-path-all {
	background-image: url(sprite.png);
	background-position: 0px -2396px;
	height: 24px;
	width: 24px;
}

.glyphicons-100-font {
	background-image: url(sprite.png);
	background-position: 0px -2420px;
	height: 23px;
	width: 27px;
}

.glyphicons-101-italic {
	background-image: url(sprite.png);
	background-position: 0px -2443px;
	height: 24px;
	width: 14px;
}

.glyphicons-102-bold {
	background-image: url(sprite.png);
	background-position: 0px -2467px;
	height: 24px;
	width: 19px;
}

.glyphicons-103-text-underline {
	background-image: url(sprite.png);
	background-position: 0px -2491px;
	height: 24px;
	width: 20px;
}

.glyphicons-104-text-strike {
	background-image: url(sprite.png);
	background-position: 0px -2515px;
	height: 22px;
	width: 20px;
}

.glyphicons-105-text-height {
	background-image: url(sprite.png);
	background-position: 0px -2537px;
	height: 24px;
	width: 26px;
}

.glyphicons-106-text-width {
	background-image: url(sprite.png);
	background-position: 0px -2561px;
	height: 24px;
	width: 22px;
}

.glyphicons-107-text-resize {
	background-image: url(sprite.png);
	background-position: 0px -2585px;
	height: 26px;
	width: 26px;
}

.glyphicons-108-left-indent {
	background-image: url(sprite.png);
	background-position: 0px -2611px;
	height: 22px;
	width: 24px;
}

.glyphicons-109-right-indent {
	background-image: url(sprite.png);
	background-position: 0px -2633px;
	height: 22px;
	width: 24px;
}

.glyphicons-110-align-left {
	background-image: url(sprite.png);
	background-position: 0px -2655px;
	height: 21px;
	width: 24px;
}

.glyphicons-111-align-center {
	background-image: url(sprite.png);
	background-position: 0px -2676px;
	height: 21px;
	width: 24px;
}

.glyphicons-112-align-right {
	background-image: url(sprite.png);
	background-position: 0px -2697px;
	height: 21px;
	width: 24px;
}

.glyphicons-113-justify {
	background-image: url(sprite.png);
	background-position: 0px -2718px;
	height: 21px;
	width: 24px;
}

.glyphicons-114-list {
	background-image: url(sprite.png);
	background-position: 0px -2739px;
	height: 21px;
	width: 24px;
}

.glyphicons-115-text-smaller {
	background-image: url(sprite.png);
	background-position: 0px -2760px;
	height: 16px;
	width: 22px;
}

.glyphicons-116-text-bigger {
	background-image: url(sprite.png);
	background-position: 0px -2776px;
	height: 22px;
	width: 24px;
}

.glyphicons-117-embed {
	background-image: url(sprite.png);
	background-position: 0px -2798px;
	height: 14px;
	width: 30px;
}

.glyphicons-118-embed-close {
	background-image: url(sprite.png);
	background-position: 0px -2812px;
	height: 24px;
	width: 30px;
}

.glyphicons-119-table {
	background-image: url(sprite.png);
	background-position: 0px -2836px;
	height: 24px;
	width: 24px;
}

.glyphicons-120-message-full {
	background-image: url(sprite.png);
	background-position: 0px -2860px;
	height: 28px;
	width: 24px;
}

.glyphicons-121-message-empty {
	background-image: url(sprite.png);
	background-position: 0px -2888px;
	height: 28px;
	width: 24px;
}

.glyphicons-122-message-in {
	background-image: url(sprite.png);
	background-position: 0px -2916px;
	height: 28px;
	width: 24px;
}

.glyphicons-123-message-out {
	background-image: url(sprite.png);
	background-position: 0px -2944px;
	height: 28px;
	width: 24px;
}

.glyphicons-124-message-plus {
	background-image: url(sprite.png);
	background-position: 0px -2972px;
	height: 23px;
	width: 29px;
}

.glyphicons-125-message-minus {
	background-image: url(sprite.png);
	background-position: 0px -2995px;
	height: 23px;
	width: 29px;
}

.glyphicons-126-message-ban {
	background-image: url(sprite.png);
	background-position: 0px -3018px;
	height: 23px;
	width: 29px;
}

.glyphicons-127-message-flag {
	background-image: url(sprite.png);
	background-position: 0px -3041px;
	height: 23px;
	width: 27px;
}

.glyphicons-128-message-lock {
	background-image: url(sprite.png);
	background-position: 0px -3064px;
	height: 24px;
	width: 28px;
}

.glyphicons-129-message-new {
	background-image: url(sprite.png);
	background-position: 0px -3088px;
	height: 22px;
	width: 28px;
}

.glyphicons-130-inbox {
	background-image: url(sprite.png);
	background-position: 0px -3110px;
	height: 23px;
	width: 24px;
}

.glyphicons-131-inbox-plus {
	background-image: url(sprite.png);
	background-position: 0px -3133px;
	height: 27px;
	width: 27px;
}

.glyphicons-132-inbox-minus {
	background-image: url(sprite.png);
	background-position: 0px -3160px;
	height: 27px;
	width: 27px;
}

.glyphicons-133-inbox-lock {
	background-image: url(sprite.png);
	background-position: 0px -3187px;
	height: 28px;
	width: 26px;
}

.glyphicons-134-inbox-in {
	background-image: url(sprite.png);
	background-position: 0px -3215px;
	height: 26px;
	width: 24px;
}

.glyphicons-135-inbox-out {
	background-image: url(sprite.png);
	background-position: 0px -3241px;
	height: 26px;
	width: 24px;
}

.glyphicons-136-cogwheel {
	background-image: url(sprite.png);
	background-position: 0px -3267px;
	height: 24px;
	width: 24px;
}

.glyphicons-137-cogwheels {
	background-image: url(sprite.png);
	background-position: 0px -3291px;
	height: 27px;
	width: 34px;
}

.glyphicons-138-picture {
	background-image: url(sprite.png);
	background-position: 0px -3318px;
	height: 20px;
	width: 24px;
}

.glyphicons-139-adjust-alt {
	background-image: url(sprite.png);
	background-position: 0px -3338px;
	height: 24px;
	width: 23px;
}

.glyphicons-140-database-lock {
	background-image: url(sprite.png);
	background-position: 0px -3362px;
	height: 28px;
	width: 26px;
}

.glyphicons-141-database-plus {
	background-image: url(sprite.png);
	background-position: 0px -3390px;
	height: 27px;
	width: 27px;
}

.glyphicons-142-database-minus {
	background-image: url(sprite.png);
	background-position: 0px -3417px;
	height: 27px;
	width: 27px;
}

.glyphicons-143-database-ban {
	background-image: url(sprite.png);
	background-position: 0px -3444px;
	height: 27px;
	width: 26px;
}

.glyphicons-144-folder-open {
	background-image: url(sprite.png);
	background-position: 0px -3471px;
	height: 22px;
	width: 30px;
}

.glyphicons-145-folder-plus {
	background-image: url(sprite.png);
	background-position: 0px -3493px;
	height: 25px;
	width: 29px;
}

.glyphicons-146-folder-minus {
	background-image: url(sprite.png);
	background-position: 0px -3518px;
	height: 25px;
	width: 29px;
}

.glyphicons-147-folder-lock {
	background-image: url(sprite.png);
	background-position: 0px -3543px;
	height: 26px;
	width: 28px;
}

.glyphicons-148-folder-flag {
	background-image: url(sprite.png);
	background-position: 0px -3569px;
	height: 25px;
	width: 27px;
}

.glyphicons-149-folder-new {
	background-image: url(sprite.png);
	background-position: 0px -3594px;
	height: 24px;
	width: 28px;
}

.glyphicons-150-edit {
	background-image: url(sprite.png);
	background-position: 0px -3618px;
	height: 21px;
	width: 24px;
}

.glyphicons-151-new-window {
	background-image: url(sprite.png);
	background-position: 0px -3639px;
	height: 22px;
	width: 26px;
}

.glyphicons-152-check {
	background-image: url(sprite.png);
	background-position: 0px -3661px;
	height: 18px;
	width: 22px;
}

.glyphicons-153-unchecked {
	background-image: url(sprite.png);
	background-position: 0px -3679px;
	height: 18px;
	width: 18px;
}

.glyphicons-154-more-windows {
	background-image: url(sprite.png);
	background-position: 0px -3697px;
	height: 23px;
	width: 23px;
}

.glyphicons-155-show-big-thumbnails {
	background-image: url(sprite.png);
	background-position: 0px -3720px;
	height: 22px;
	width: 22px;
}

.glyphicons-156-show-thumbnails {
	background-image: url(sprite.png);
	background-position: 0px -3742px;
	height: 22px;
	width: 22px;
}

.glyphicons-157-show-thumbnails-with-lines {
	background-image: url(sprite.png);
	background-position: 0px -3764px;
	height: 15px;
	width: 24px;
}

.glyphicons-158-show-lines {
	background-image: url(sprite.png);
	background-position: 0px -3779px;
	height: 15px;
	width: 24px;
}

.glyphicons-159-playlist {
	background-image: url(sprite.png);
	background-position: 0px -3794px;
	height: 24px;
	width: 29px;
}

.glyphicons-160-imac {
	background-image: url(sprite.png);
	background-position: 0px -3818px;
	height: 22px;
	width: 26px;
}

.glyphicons-161-macbook {
	background-image: url(sprite.png);
	background-position: 0px -3840px;
	height: 15px;
	width: 28px;
}

.glyphicons-162-ipad {
	background-image: url(sprite.png);
	background-position: 0px -3855px;
	height: 27px;
	width: 22px;
}

.glyphicons-163-iphone {
	background-image: url(sprite.png);
	background-position: 0px -3882px;
	height: 24px;
	width: 14px;
}

.glyphicons-164-iphone-transfer {
	background-image: url(sprite.png);
	background-position: 0px -3906px;
	height: 24px;
	width: 29px;
}

.glyphicons-165-iphone-exchange {
	background-image: url(sprite.png);
	background-position: 0px -3930px;
	height: 24px;
	width: 29px;
}

.glyphicons-166-ipod {
	background-image: url(sprite.png);
	background-position: 0px -3954px;
	height: 22px;
	width: 14px;
}

.glyphicons-167-ipod-shuffle {
	background-image: url(sprite.png);
	background-position: 0px -3976px;
	height: 13px;
	width: 15px;
}

.glyphicons-168-ear-plugs {
	background-image: url(sprite.png);
	background-position: 0px -3989px;
	height: 24px;
	width: 20px;
}

.glyphicons-169-phone {
	background-image: url(sprite.png);
	background-position: 0px -4013px;
	height: 25px;
	width: 15px;
}

.glyphicons-170-step-backward {
	background-image: url(sprite.png);
	background-position: 0px -4038px;
	height: 18px;
	width: 14px;
}

.glyphicons-171-fast-backward {
	background-image: url(sprite.png);
	background-position: 0px -4056px;
	height: 18px;
	width: 25px;
}

.glyphicons-172-rewind {
	background-image: url(sprite.png);
	background-position: 0px -4074px;
	height: 18px;
	width: 23px;
}

.glyphicons-173-play {
	background-image: url(sprite.png);
	background-position: 0px -4092px;
	height: 18px;
	width: 16px;
}

.glyphicons-174-pause {
	background-image: url(sprite.png);
	background-position: 0px -4110px;
	height: 16px;
	width: 10px;
}

.glyphicons-175-stop {
	background-image: url(sprite.png);
	background-position: 0px -4126px;
	height: 14px;
	width: 14px;
}

.glyphicons-176-forward {
	background-image: url(sprite.png);
	background-position: 0px -4140px;
	height: 18px;
	width: 23px;
}

.glyphicons-177-fast-forward {
	background-image: url(sprite.png);
	background-position: 0px -4158px;
	height: 18px;
	width: 25px;
}

.glyphicons-178-step-forward {
	background-image: url(sprite.png);
	background-position: 0px -4176px;
	height: 18px;
	width: 14px;
}

.glyphicons-179-eject {
	background-image: url(sprite.png);
	background-position: 0px -4194px;
	height: 17px;
	width: 18px;
}

.glyphicons-180-facetime-video {
	background-image: url(sprite.png);
	background-position: 0px -4211px;
	height: 16px;
	width: 24px;
}

.glyphicons-181-download-alt {
	background-image: url(sprite.png);
	background-position: 0px -4227px;
	height: 24px;
	width: 24px;
}

.glyphicons-182-mute {
	background-image: url(sprite.png);
	background-position: 0px -4251px;
	height: 15px;
	width: 22px;
}

.glyphicons-183-volume-down {
	background-image: url(sprite.png);
	background-position: 0px -4266px;
	height: 15px;
	width: 16px;
}

.glyphicons-184-volume-up {
	background-image: url(sprite.png);
	background-position: 0px -4281px;
	height: 26px;
	width: 24px;
}

.glyphicons-185-screenshot {
	background-image: url(sprite.png);
	background-position: 0px -4307px;
	height: 27px;
	width: 27px;
}

.glyphicons-186-move {
	background-image: url(sprite.png);
	background-position: 0px -4334px;
	height: 24px;
	width: 24px;
}

.glyphicons-187-more {
	background-image: url(sprite.png);
	background-position: 0px -4358px;
	height: 6px;
	width: 22px;
}

.glyphicons-188-brightness-reduce {
	background-image: url(sprite.png);
	background-position: 0px -4364px;
	height: 20px;
	width: 20px;
}

.glyphicons-189-brightness-increase {
	background-image: url(sprite.png);
	background-position: 0px -4384px;
	height: 24px;
	width: 24px;
}

.glyphicons-190-circle-plus {
	background-image: url(sprite.png);
	background-position: 0px -4408px;
	height: 26px;
	width: 26px;
}

.glyphicons-191-circle-minus {
	background-image: url(sprite.png);
	background-position: 0px -4434px;
	height: 26px;
	width: 26px;
}

.glyphicons-192-circle-remove {
	background-image: url(sprite.png);
	background-position: 0px -4460px;
	height: 26px;
	width: 26px;
}

.glyphicons-193-circle-ok {
	background-image: url(sprite.png);
	background-position: 0px -4486px;
	height: 26px;
	width: 26px;
}

.glyphicons-194-circle-question-mark {
	background-image: url(sprite.png);
	background-position: 0px -4512px;
	height: 26px;
	width: 26px;
}

.glyphicons-195-circle-info {
	background-image: url(sprite.png);
	background-position: 0px -4538px;
	height: 26px;
	width: 26px;
}

.glyphicons-196-circle-exclamation-mark {
	background-image: url(sprite.png);
	background-position: 0px -4564px;
	height: 26px;
	width: 26px;
}

.glyphicons-197-remove {
	background-image: url(sprite.png);
	background-position: 0px -4590px;
	height: 26px;
	width: 26px;
}

.glyphicons-198-ok {
	background-image: url(sprite.png);
	background-position: 0px -4616px;
	height: 26px;
	width: 26px;
}

.glyphicons-199-ban {
	background-image: url(sprite.png);
	background-position: 0px -4642px;
	height: 26px;
	width: 26px;
}

.glyphicons-200-download {
	background-image: url(sprite.png);
	background-position: 0px -4668px;
	height: 26px;
	width: 26px;
}

.glyphicons-201-upload {
	background-image: url(sprite.png);
	background-position: 0px -4694px;
	height: 26px;
	width: 26px;
}

.glyphicons-202-shopping-cart {
	background-image: url(sprite.png);
	background-position: 0px -4720px;
	height: 23px;
	width: 26px;
}

.glyphicons-203-lock {
	background-image: url(sprite.png);
	background-position: 0px -4743px;
	height: 26px;
	width: 21px;
}

.glyphicons-204-unlock {
	background-image: url(sprite.png);
	background-position: 0px -4769px;
	height: 26px;
	width: 21px;
}

.glyphicons-205-electricity {
	background-image: url(sprite.png);
	background-position: 0px -4795px;
	height: 24px;
	width: 11px;
}

.glyphicons-206-ok-2 {
	background-image: url(sprite.png);
	background-position: 0px -4819px;
	height: 19px;
	width: 25px;
}

.glyphicons-207-remove-2 {
	background-image: url(sprite.png);
	background-position: 0px -4838px;
	height: 18px;
	width: 18px;
}

.glyphicons-208-cart-out {
	background-image: url(sprite.png);
	background-position: 0px -4856px;
	height: 25px;
	width: 26px;
}

.glyphicons-209-cart-in {
	background-image: url(sprite.png);
	background-position: 0px -4881px;
	height: 24px;
	width: 26px;
}

.glyphicons-210-left-arrow {
	background-image: url(sprite.png);
	background-position: 0px -4905px;
	height: 18px;
	width: 20px;
}

.glyphicons-211-right-arrow {
	background-image: url(sprite.png);
	background-position: 0px -4923px;
	height: 18px;
	width: 20px;
}

.glyphicons-212-down-arrow {
	background-image: url(sprite.png);
	background-position: 0px -4941px;
	height: 20px;
	width: 18px;
}

.glyphicons-213-up-arrow {
	background-image: url(sprite.png);
	background-position: 0px -4961px;
	height: 20px;
	width: 18px;
}

.glyphicons-214-resize-small {
	background-image: url(sprite.png);
	background-position: 0px -4981px;
	height: 24px;
	width: 24px;
}

.glyphicons-215-resize-full {
	background-image: url(sprite.png);
	background-position: 0px -5005px;
	height: 24px;
	width: 24px;
}

.glyphicons-216-circle-arrow-left {
	background-image: url(sprite.png);
	background-position: 0px -5029px;
	height: 26px;
	width: 26px;
}

.glyphicons-217-circle-arrow-right {
	background-image: url(sprite.png);
	background-position: 0px -5055px;
	height: 26px;
	width: 26px;
}

.glyphicons-218-circle-arrow-top {
	background-image: url(sprite.png);
	background-position: 0px -5081px;
	height: 26px;
	width: 26px;
}

.glyphicons-219-circle-arrow-down {
	background-image: url(sprite.png);
	background-position: 0px -5107px;
	height: 26px;
	width: 26px;
}

.glyphicons-220-play-button {
	background-image: url(sprite.png);
	background-position: 0px -5133px;
	height: 26px;
	width: 26px;
}

.glyphicons-221-unshare {
	background-image: url(sprite.png);
	background-position: 0px -5159px;
	height: 18px;
	width: 24px;
}

.glyphicons-222-share {
	background-image: url(sprite.png);
	background-position: 0px -5177px;
	height: 18px;
	width: 24px;
}

.glyphicons-223-chevron-right {
	background-image: url(sprite.png);
	background-position: 0px -5195px;
	height: 22px;
	width: 15px;
}

.glyphicons-224-chevron-left {
	background-image: url(sprite.png);
	background-position: 0px -5217px;
	height: 22px;
	width: 15px;
}

.glyphicons-225-bluetooth {
	background-image: url(sprite.png);
	background-position: 0px -5239px;
	height: 24px;
	width: 14px;
}

.glyphicons-226-euro {
	background-image: url(sprite.png);
	background-position: 0px -5263px;
	height: 23px;
	width: 22px;
}

.glyphicons-227-usd {
	background-image: url(sprite.png);
	background-position: 0px -5286px;
	height: 26px;
	width: 17px;
}

.glyphicons-228-gbp {
	background-image: url(sprite.png);
	background-position: 0px -5312px;
	height: 24px;
	width: 17px;
}

.glyphicons-229-retweet-2 {
	background-image: url(sprite.png);
	background-position: 0px -5336px;
	height: 21px;
	width: 33px;
}

.glyphicons-230-moon {
	background-image: url(sprite.png);
	background-position: 0px -5357px;
	height: 24px;
	width: 21px;
}

.glyphicons-231-sun {
	background-image: url(sprite.png);
	background-position: 0px -5381px;
	height: 24px;
	width: 24px;
}

.glyphicons-232-cloud {
	background-image: url(sprite.png);
	background-position: 0px -5405px;
	height: 17px;
	width: 27px;
}

.glyphicons-233-direction {
	background-image: url(sprite.png);
	background-position: 0px -5422px;
	height: 26px;
	width: 25px;
}

.glyphicons-234-brush {
	background-image: url(sprite.png);
	background-position: 0px -5448px;
	height: 22px;
	width: 25px;
}

.glyphicons-235-pen {
	background-image: url(sprite.png);
	background-position: 0px -5470px;
	height: 23px;
	width: 23px;
}

.glyphicons-236-zoom-in {
	background-image: url(sprite.png);
	background-position: 0px -5493px;
	height: 25px;
	width: 25px;
}

.glyphicons-237-zoom-out {
	background-image: url(sprite.png);
	background-position: 0px -5518px;
	height: 25px;
	width: 25px;
}

.glyphicons-238-pin {
	background-image: url(sprite.png);
	background-position: 0px -5543px;
	height: 24px;
	width: 10px;
}

.glyphicons-239-albums {
	background-image: url(sprite.png);
	background-position: 0px -5567px;
	height: 18px;
	width: 28px;
}

.glyphicons-240-rotation-lock {
	background-image: url(sprite.png);
	background-position: 0px -5585px;
	height: 24px;
	width: 27px;
}

.glyphicons-241-flash {
	background-image: url(sprite.png);
	background-position: 0px -5609px;
	height: 24px;
	width: 14px;
}

.glyphicons-242-google-maps {
	background-image: url(sprite.png);
	background-position: 0px -5633px;
	height: 24px;
	width: 16px;
}

.glyphicons-243-anchor {
	background-image: url(sprite.png);
	background-position: 0px -5657px;
	height: 25px;
	width: 24px;
}

.glyphicons-244-conversation {
	background-image: url(sprite.png);
	background-position: 0px -5682px;
	height: 18px;
	width: 25px;
}

.glyphicons-245-chat {
	background-image: url(sprite.png);
	background-position: 0px -5700px;
	height: 19px;
	width: 24px;
}

.glyphicons-246-male {
	background-image: url(sprite.png);
	background-position: 0px -5719px;
	height: 22px;
	width: 22px;
}

.glyphicons-247-female {
	background-image: url(sprite.png);
	background-position: 0px -5741px;
	height: 27px;
	width: 16px;
}

.glyphicons-248-asterisk {
	background-image: url(sprite.png);
	background-position: 0px -5768px;
	height: 20px;
	width: 20px;
}

.glyphicons-249-divide {
	background-image: url(sprite.png);
	background-position: 0px -5788px;
	height: 16px;
	width: 18px;
}

.glyphicons-250-snorkel-diving {
	background-image: url(sprite.png);
	background-position: 0px -5804px;
	height: 25px;
	width: 27px;
}

.glyphicons-251-scuba-diving {
	background-image: url(sprite.png);
	background-position: 0px -5829px;
	height: 24px;
	width: 27px;
}

.glyphicons-252-oxygen-bottle {
	background-image: url(sprite.png);
	background-position: 0px -5853px;
	height: 27px;
	width: 22px;
}

.glyphicons-253-fins {
	background-image: url(sprite.png);
	background-position: 0px -5880px;
	height: 27px;
	width: 31px;
}

.glyphicons-254-fishes {
	background-image: url(sprite.png);
	background-position: 0px -5907px;
	height: 30px;
	width: 28px;
}

.glyphicons-255-boat {
	background-image: url(sprite.png);
	background-position: 0px -5937px;
	height: 24px;
	width: 24px;
}

.glyphicons-256-delete {
	background-image: url(sprite.png);
	background-position: 0px -5961px;
	height: 17px;
	width: 26px;
}

.glyphicons-257-sheriffs-star {
	background-image: url(sprite.png);
	background-position: 0px -5978px;
	height: 26px;
	width: 24px;
}

.glyphicons-258-qrcode {
	background-image: url(sprite.png);
	background-position: 0px -6004px;
	height: 24px;
	width: 24px;
}

.glyphicons-259-barcode {
	background-image: url(sprite.png);
	background-position: 0px -6028px;
	height: 24px;
	width: 24px;
}

.glyphicons-260-pool {
	background-image: url(sprite.png);
	background-position: 0px -6052px;
	height: 24px;
	width: 24px;
}

.glyphicons-261-buoy {
	background-image: url(sprite.png);
	background-position: 0px -6076px;
	height: 24px;
	width: 24px;
}

.glyphicons-262-spade {
	background-image: url(sprite.png);
	background-position: 0px -6100px;
	height: 24px;
	width: 24px;
}

.glyphicons-263-bank {
	background-image: url(sprite.png);
	background-position: 0px -6124px;
	height: 24px;
	width: 24px;
}

.glyphicons-264-vcard {
	background-image: url(sprite.png);
	background-position: 0px -6148px;
	height: 24px;
	width: 22px;
}

.glyphicons-265-electrical-plug {
	background-image: url(sprite.png);
	background-position: 0px -6172px;
	height: 25px;
	width: 18px;
}

.glyphicons-266-flag {
	background-image: url(sprite.png);
	background-position: 0px -6197px;
	height: 26px;
	width: 21px;
}

.glyphicons-267-credit-card {
	background-image: url(sprite.png);
	background-position: 0px -6223px;
	height: 19px;
	width: 26px;
}

.glyphicons-268-keyboard-wireless {
	background-image: url(sprite.png);
	background-position: 0px -6242px;
	height: 19px;
	width: 27px;
}

.glyphicons-269-keyboard-wired {
	background-image: url(sprite.png);
	background-position: 0px -6261px;
	height: 25px;
	width: 27px;
}

.glyphicons-270-shield {
	background-image: url(sprite.png);
	background-position: 0px -6286px;
	height: 24px;
	width: 22px;
}

.glyphicons-271-ring {
	background-image: url(sprite.png);
	background-position: 0px -6310px;
	height: 24px;
	width: 21px;
}

.glyphicons-272-cake {
	background-image: url(sprite.png);
	background-position: 0px -6334px;
	height: 24px;
	width: 22px;
}

.glyphicons-273-drink {
	background-image: url(sprite.png);
	background-position: 0px -6358px;
	height: 24px;
	width: 23px;
}

.glyphicons-274-beer {
	background-image: url(sprite.png);
	background-position: 0px -6382px;
	height: 24px;
	width: 23px;
}

.glyphicons-275-fast-food {
	background-image: url(sprite.png);
	background-position: 0px -6406px;
	height: 24px;
	width: 28px;
}

.glyphicons-276-cutlery {
	background-image: url(sprite.png);
	background-position: 0px -6430px;
	height: 24px;
	width: 13px;
}

.glyphicons-277-pizza {
	background-image: url(sprite.png);
	background-position: 0px -6454px;
	height: 29px;
	width: 26px;
}

.glyphicons-278-birthday-cake {
	background-image: url(sprite.png);
	background-position: 0px -6483px;
	height: 29px;
	width: 26px;
}

.glyphicons-279-tablet {
	background-image: url(sprite.png);
	background-position: 0px -6512px;
	height: 25px;
	width: 25px;
}

.glyphicons-280-settings {
	background-image: url(sprite.png);
	background-position: 0px -6537px;
	height: 24px;
	width: 24px;
}

.glyphicons-281-bullets {
	background-image: url(sprite.png);
	background-position: 0px -6561px;
	height: 23px;
	width: 27px;
}

.glyphicons-282-cardio {
	background-image: url(sprite.png);
	background-position: 0px -6584px;
	height: 26px;
	width: 25px;
}

.glyphicons-283-t-shirt {
	background-image: url(sprite.png);
	background-position: 0px -6610px;
	height: 23px;
	width: 28px;
}

.glyphicons-284-pants {
	background-image: url(sprite.png);
	background-position: 0px -6633px;
	height: 24px;
	width: 19px;
}

.glyphicons-285-sweater {
	background-image: url(sprite.png);
	background-position: 0px -6657px;
	height: 24px;
	width: 29px;
}

.glyphicons-286-fabric {
	background-image: url(sprite.png);
	background-position: 0px -6681px;
	height: 22px;
	width: 27px;
}

.glyphicons-287-leather {
	background-image: url(sprite.png);
	background-position: 0px -6703px;
	height: 24px;
	width: 23px;
}

.glyphicons-288-scissors {
	background-image: url(sprite.png);
	background-position: 0px -6727px;
	height: 27px;
	width: 24px;
}

.glyphicons-289-bomb {
	background-image: url(sprite.png);
	background-position: 0px -6754px;
	height: 25px;
	width: 27px;
}

.glyphicons-290-skull {
	background-image: url(sprite.png);
	background-position: 0px -6779px;
	height: 24px;
	width: 22px;
}

.glyphicons-291-celebration {
	background-image: url(sprite.png);
	background-position: 0px -6803px;
	height: 25px;
	width: 24px;
}

.glyphicons-292-tea-kettle {
	background-image: url(sprite.png);
	background-position: 0px -6828px;
	height: 23px;
	width: 26px;
}

.glyphicons-293-french-press {
	background-image: url(sprite.png);
	background-position: 0px -6851px;
	height: 25px;
	width: 23px;
}

.glyphicons-294-coffe-cup {
	background-image: url(sprite.png);
	background-position: 0px -6876px;
	height: 19px;
	width: 25px;
}

.glyphicons-295-pot {
	background-image: url(sprite.png);
	background-position: 0px -6895px;
	height: 22px;
	width: 27px;
}

.glyphicons-296-grater {
	background-image: url(sprite.png);
	background-position: 0px -6917px;
	height: 24px;
	width: 18px;
}

.glyphicons-297-kettle {
	background-image: url(sprite.png);
	background-position: 0px -6941px;
	height: 24px;
	width: 23px;
}

.glyphicons-298-hospital {
	background-image: url(sprite.png);
	background-position: 0px -6965px;
	height: 24px;
	width: 24px;
}

.glyphicons-299-hospital-h {
	background-image: url(sprite.png);
	background-position: 0px -6989px;
	height: 24px;
	width: 24px;
}

.glyphicons-300-microphone {
	background-image: url(sprite.png);
	background-position: 0px -7013px;
	height: 24px;
	width: 17px;
}

.glyphicons-301-webcam {
	background-image: url(sprite.png);
	background-position: 0px -7037px;
	height: 24px;
	width: 19px;
}

.glyphicons-302-temple-christianity-church {
	background-image: url(sprite.png);
	background-position: 0px -7061px;
	height: 25px;
	width: 24px;
}

.glyphicons-303-temple-islam {
	background-image: url(sprite.png);
	background-position: 0px -7086px;
	height: 24px;
	width: 25px;
}

.glyphicons-304-temple-hindu {
	background-image: url(sprite.png);
	background-position: 0px -7110px;
	height: 24px;
	width: 24px;
}

.glyphicons-305-temple-buddhist {
	background-image: url(sprite.png);
	background-position: 0px -7134px;
	height: 22px;
	width: 28px;
}

.glyphicons-306-bicycle {
	background-image: url(sprite.png);
	background-position: 0px -7156px;
	height: 21px;
	width: 33px;
}

.glyphicons-307-life-preserver {
	background-image: url(sprite.png);
	background-position: 0px -7177px;
	height: 24px;
	width: 24px;
}

.glyphicons-308-share-alt {
	background-image: url(sprite.png);
	background-position: 0px -7201px;
	height: 22px;
	width: 22px;
}

.glyphicons-309-comments {
	background-image: url(sprite.png);
	background-position: 0px -7223px;
	height: 23px;
	width: 24px;
}

.glyphicons-310-flower {
	background-image: url(sprite.png);
	background-position: 0px -7246px;
	height: 25px;
	width: 19px;
}

.glyphicons-311-baseball {
	background-image: url(sprite.png);
	background-position: 0px -7271px;
	height: 26px;
	width: 25px;
}

.glyphicons-312-rugby {
	background-image: url(sprite.png);
	background-position: 0px -7297px;
	height: 24px;
	width: 23px;
}

.glyphicons-313-ax {
	background-image: url(sprite.png);
	background-position: 0px -7321px;
	height: 24px;
	width: 27px;
}

.glyphicons-314-table-tennis {
	background-image: url(sprite.png);
	background-position: 0px -7345px;
	height: 24px;
	width: 24px;
}

.glyphicons-315-bowling {
	background-image: url(sprite.png);
	background-position: 0px -7369px;
	height: 24px;
	width: 24px;
}

.glyphicons-316-tree-conifer {
	background-image: url(sprite.png);
	background-position: 0px -7393px;
	height: 24px;
	width: 21px;
}

.glyphicons-317-tree-deciduous {
	background-image: url(sprite.png);
	background-position: 0px -7417px;
	height: 25px;
	width: 20px;
}

.glyphicons-318-more-items {
	background-image: url(sprite.png);
	background-position: 0px -7442px;
	height: 24px;
	width: 21px;
}

.glyphicons-319-sort {
	background-image: url(sprite.png);
	background-position: 0px -7466px;
	height: 25px;
	width: 25px;
}

.glyphicons-320-filter {
	background-image: url(sprite.png);
	background-position: 0px -7491px;
	height: 24px;
	width: 20px;
}

.glyphicons-321-gamepad {
	background-image: url(sprite.png);
	background-position: 0px -7515px;
	height: 19px;
	width: 27px;
}

.glyphicons-322-playing-dices {
	background-image: url(sprite.png);
	background-position: 0px -7534px;
	height: 23px;
	width: 27px;
}

.glyphicons-323-calculator {
	background-image: url(sprite.png);
	background-position: 0px -7557px;
	height: 24px;
	width: 21px;
}

.glyphicons-324-tie {
	background-image: url(sprite.png);
	background-position: 0px -7581px;
	height: 26px;
	width: 11px;
}

.glyphicons-325-wallet {
	background-image: url(sprite.png);
	background-position: 0px -7607px;
	height: 20px;
	width: 25px;
}

.glyphicons-326-piano {
	background-image: url(sprite.png);
	background-position: 0px -7627px;
	height: 24px;
	width: 23px;
}

.glyphicons-327-sampler {
	background-image: url(sprite.png);
	background-position: 0px -7651px;
	height: 22px;
	width: 27px;
}

.glyphicons-328-podium {
	background-image: url(sprite.png);
	background-position: 0px -7673px;
	height: 21px;
	width: 28px;
}

.glyphicons-329-soccer-ball {
	background-image: url(sprite.png);
	background-position: 0px -7694px;
	height: 25px;
	width: 25px;
}

.glyphicons-330-blog {
	background-image: url(sprite.png);
	background-position: 0px -7719px;
	height: 23px;
	width: 21px;
}

.glyphicons-331-dashboard {
	background-image: url(sprite.png);
	background-position: 0px -7742px;
	height: 24px;
	width: 24px;
}

.glyphicons-332-certificate {
	background-image: url(sprite.png);
	background-position: 0px -7766px;
	height: 25px;
	width: 17px;
}

.glyphicons-333-bell {
	background-image: url(sprite.png);
	background-position: 0px -7791px;
	height: 24px;
	width: 24px;
}

.glyphicons-334-candle {
	background-image: url(sprite.png);
	background-position: 0px -7815px;
	height: 25px;
	width: 20px;
}

.glyphicons-335-pushpin {
	background-image: url(sprite.png);
	background-position: 0px -7840px;
	height: 23px;
	width: 23px;
}

.glyphicons-336-iphone-shake {
	background-image: url(sprite.png);
	background-position: 0px -7863px;
	height: 24px;
	width: 24px;
}

.glyphicons-337-pin-flag {
	background-image: url(sprite.png);
	background-position: 0px -7887px;
	height: 22px;
	width: 30px;
}

.glyphicons-338-turtle {
	background-image: url(sprite.png);
	background-position: 0px -7909px;
	height: 16px;
	width: 28px;
}

.glyphicons-339-rabbit {
	background-image: url(sprite.png);
	background-position: 0px -7925px;
	height: 22px;
	width: 26px;
}

.glyphicons-340-globe {
	background-image: url(sprite.png);
	background-position: 0px -7947px;
	height: 24px;
	width: 24px;
}

.glyphicons-341-briefcase {
	background-image: url(sprite.png);
	background-position: 0px -7971px;
	height: 21px;
	width: 24px;
}

.glyphicons-342-hdd {
	background-image: url(sprite.png);
	background-position: 0px -7992px;
	height: 21px;
	width: 24px;
}

.glyphicons-343-thumbs-up {
	background-image: url(sprite.png);
	background-position: 0px -8013px;
	height: 21px;
	width: 24px;
}

.glyphicons-344-thumbs-down {
	background-image: url(sprite.png);
	background-position: 0px -8034px;
	height: 21px;
	width: 24px;
}

.glyphicons-345-hand-right {
	background-image: url(sprite.png);
	background-position: 0px -8055px;
	height: 19px;
	width: 26px;
}

.glyphicons-346-hand-left {
	background-image: url(sprite.png);
	background-position: 0px -8074px;
	height: 19px;
	width: 26px;
}

.glyphicons-347-hand-up {
	background-image: url(sprite.png);
	background-position: 0px -8093px;
	height: 26px;
	width: 19px;
}

.glyphicons-348-hand-down {
	background-image: url(sprite.png);
	background-position: 0px -8119px;
	height: 27px;
	width: 19px;
}

.glyphicons-349-fullscreen {
	background-image: url(sprite.png);
	background-position: 0px -8146px;
	height: 24px;
	width: 24px;
}

.glyphicons-350-shopping-bag {
	background-image: url(sprite.png);
	background-position: 0px -8170px;
	height: 26px;
	width: 23px;
}

.glyphicons-351-book-open {
	background-image: url(sprite.png);
	background-position: 0px -8196px;
	height: 22px;
	width: 24px;
}

.glyphicons-352-nameplate {
	background-image: url(sprite.png);
	background-position: 0px -8218px;
	height: 21px;
	width: 24px;
}

.glyphicons-353-nameplate-alt {
	background-image: url(sprite.png);
	background-position: 0px -8239px;
	height: 22px;
	width: 24px;
}

.glyphicons-354-vases {
	background-image: url(sprite.png);
	background-position: 0px -8261px;
	height: 24px;
	width: 24px;
}

.glyphicons-355-bullhorn {
	background-image: url(sprite.png);
	background-position: 0px -8285px;
	height: 20px;
	width: 25px;
}

.glyphicons-356-dumbbell {
	background-image: url(sprite.png);
	background-position: 0px -8305px;
	height: 16px;
	width: 26px;
}

.glyphicons-357-suitcase {
	background-image: url(sprite.png);
	background-position: 0px -8321px;
	height: 22px;
	width: 24px;
}

.glyphicons-358-file-import {
	background-image: url(sprite.png);
	background-position: 0px -8343px;
	height: 24px;
	width: 22px;
}

.glyphicons-359-file-export {
	background-image: url(sprite.png);
	background-position: 0px -8367px;
	height: 24px;
	width: 23px;
}

.glyphicons-360-bug {
	background-image: url(sprite.png);
	background-position: 0px -8391px;
	height: 24px;
	width: 22px;
}

.glyphicons-361-crown {
	background-image: url(sprite.png);
	background-position: 0px -8415px;
	height: 25px;
	width: 26px;
}

.glyphicons-362-smoking {
	background-image: url(sprite.png);
	background-position: 0px -8440px;
	height: 28px;
	width: 28px;
}

.glyphicons-363-cloud-upload {
	background-image: url(sprite.png);
	background-position: 0px -8468px;
	height: 20px;
	width: 27px;
}

.glyphicons-364-cloud-download {
	background-image: url(sprite.png);
	background-position: 0px -8488px;
	height: 22px;
	width: 27px;
}

.glyphicons-365-restart {
	background-image: url(sprite.png);
	background-position: 0px -8510px;
	height: 25px;
	width: 25px;
}

.glyphicons-366-security-camera {
	background-image: url(sprite.png);
	background-position: 0px -8535px;
	height: 24px;
	width: 24px;
}

.glyphicons-367-expand {
	background-image: url(sprite.png);
	background-position: 0px -8559px;
	height: 19px;
	width: 19px;
}

.glyphicons-368-collapse {
	background-image: url(sprite.png);
	background-position: 0px -8578px;
	height: 19px;
	width: 19px;
}

.glyphicons-369-collapse-top {
	background-image: url(sprite.png);
	background-position: 0px -8597px;
	height: 19px;
	width: 19px;
}

.glyphicons-370-globe-af {
	background-image: url(sprite.png);
	background-position: 0px -8616px;
	height: 24px;
	width: 24px;
}

.glyphicons-371-global {
	background-image: url(sprite.png);
	background-position: 0px -8640px;
	height: 24px;
	width: 24px;
}

.glyphicons-372-spray {
	background-image: url(sprite.png);
	background-position: 0px -8664px;
	height: 27px;
	width: 22px;
}

.glyphicons-373-nails {
	background-image: url(sprite.png);
	background-position: 0px -8691px;
	height: 26px;
	width: 22px;
}

.glyphicons-374-claw-hammer {
	background-image: url(sprite.png);
	background-position: 0px -8717px;
	height: 26px;
	width: 27px;
}

.glyphicons-375-classic-hammer {
	background-image: url(sprite.png);
	background-position: 0px -8743px;
	height: 26px;
	width: 25px;
}

.glyphicons-376-hand-saw {
	background-image: url(sprite.png);
	background-position: 0px -8769px;
	height: 26px;
	width: 26px;
}

.glyphicons-377-riflescope {
	background-image: url(sprite.png);
	background-position: 0px -8795px;
	height: 25px;
	width: 25px;
}

.glyphicons-378-electrical-socket-eu {
	background-image: url(sprite.png);
	background-position: 0px -8820px;
	height: 23px;
	width: 23px;
}

.glyphicons-379-electrical-socket-us {
	background-image: url(sprite.png);
	background-position: 0px -8843px;
	height: 23px;
	width: 23px;
}

.glyphicons-380-pinterest {
	background-image: url(sprite.png);
	background-position: 0px -8866px;
	height: 24px;
	width: 24px;
}

.glyphicons-381-dropbox {
	background-image: url(sprite.png);
	background-position: 0px -8890px;
	height: 24px;
	width: 24px;
}

.glyphicons-382-google-plus {
	background-image: url(sprite.png);
	background-position: 0px -8914px;
	height: 24px;
	width: 24px;
}

.glyphicons-383-jolicloud {
	background-image: url(sprite.png);
	background-position: 0px -8938px;
	height: 24px;
	width: 24px;
}

.glyphicons-384-yahoo {
	background-image: url(sprite.png);
	background-position: 0px -8962px;
	height: 24px;
	width: 24px;
}

.glyphicons-385-blogger {
	background-image: url(sprite.png);
	background-position: 0px -8986px;
	height: 24px;
	width: 24px;
}

.glyphicons-386-picasa {
	background-image: url(sprite.png);
	background-position: 0px -9010px;
	height: 24px;
	width: 24px;
}

.glyphicons-387-amazon {
	background-image: url(sprite.png);
	background-position: 0px -9034px;
	height: 24px;
	width: 24px;
}

.glyphicons-388-tumblr {
	background-image: url(sprite.png);
	background-position: 0px -9058px;
	height: 24px;
	width: 24px;
}

.glyphicons-389-wordpress {
	background-image: url(sprite.png);
	background-position: 0px -9082px;
	height: 24px;
	width: 24px;
}

.glyphicons-390-instapaper {
	background-image: url(sprite.png);
	background-position: 0px -9106px;
	height: 24px;
	width: 24px;
}

.glyphicons-391-evernote {
	background-image: url(sprite.png);
	background-position: 0px -9130px;
	height: 24px;
	width: 24px;
}

.glyphicons-392-xing {
	background-image: url(sprite.png);
	background-position: 0px -9154px;
	height: 24px;
	width: 24px;
}

.glyphicons-393-zootool {
	background-image: url(sprite.png);
	background-position: 0px -9178px;
	height: 24px;
	width: 24px;
}

.glyphicons-394-dribbble {
	background-image: url(sprite.png);
	background-position: 0px -9202px;
	height: 24px;
	width: 24px;
}

.glyphicons-395-deviantart {
	background-image: url(sprite.png);
	background-position: 0px -9226px;
	height: 24px;
	width: 24px;
}

.glyphicons-396-read-it-later {
	background-image: url(sprite.png);
	background-position: 0px -9250px;
	height: 24px;
	width: 24px;
}

.glyphicons-397-linked-in {
	background-image: url(sprite.png);
	background-position: 0px -9274px;
	height: 24px;
	width: 24px;
}

.glyphicons-398-forrst {
	background-image: url(sprite.png);
	background-position: 0px -9298px;
	height: 24px;
	width: 24px;
}

.glyphicons-399-pinboard {
	background-image: url(sprite.png);
	background-position: 0px -9322px;
	height: 24px;
	width: 24px;
}

.glyphicons-400-behance {
	background-image: url(sprite.png);
	background-position: 0px -9346px;
	height: 24px;
	width: 24px;
}

.glyphicons-401-github {
	background-image: url(sprite.png);
	background-position: 0px -9370px;
	height: 24px;
	width: 24px;
}

.glyphicons-402-youtube {
	background-image: url(sprite.png);
	background-position: 0px -9394px;
	height: 24px;
	width: 24px;
}

.glyphicons-403-skitch {
	background-image: url(sprite.png);
	background-position: 0px -9418px;
	height: 24px;
	width: 24px;
}

.glyphicons-404-4square {
	background-image: url(sprite.png);
	background-position: 0px -9442px;
	height: 24px;
	width: 24px;
}

.glyphicons-405-quora {
	background-image: url(sprite.png);
	background-position: 0px -9466px;
	height: 24px;
	width: 24px;
}

.glyphicons-406-badoo {
	background-image: url(sprite.png);
	background-position: 0px -9490px;
	height: 24px;
	width: 24px;
}

.glyphicons-407-spotify {
	background-image: url(sprite.png);
	background-position: 0px -9514px;
	height: 24px;
	width: 24px;
}

.glyphicons-408-stumbleupon {
	background-image: url(sprite.png);
	background-position: 0px -9538px;
	height: 24px;
	width: 24px;
}

.glyphicons-409-readability {
	background-image: url(sprite.png);
	background-position: 0px -9562px;
	height: 24px;
	width: 24px;
}

.glyphicons-410-facebook {
	background-image: url(sprite.png);
	background-position: 0px -9586px;
	height: 24px;
	width: 24px;
}

.glyphicons-411-twitter {
	background-image: url(sprite.png);
	background-position: 0px -9610px;
	height: 24px;
	width: 24px;
}

.glyphicons-412-instagram {
	background-image: url(sprite.png);
	background-position: 0px -9634px;
	height: 24px;
	width: 24px;
}

.glyphicons-413-posterous-spaces {
	background-image: url(sprite.png);
	background-position: 0px -9658px;
	height: 24px;
	width: 24px;
}

.glyphicons-414-vimeo {
	background-image: url(sprite.png);
	background-position: 0px -9682px;
	height: 24px;
	width: 24px;
}

.glyphicons-415-flickr {
	background-image: url(sprite.png);
	background-position: 0px -9706px;
	height: 24px;
	width: 24px;
}

.glyphicons-416-last-fm {
	background-image: url(sprite.png);
	background-position: 0px -9730px;
	height: 24px;
	width: 24px;
}

.glyphicons-417-rss {
	background-image: url(sprite.png);
	background-position: 0px -9754px;
	height: 24px;
	width: 24px;
}

.glyphicons-418-skype {
	background-image: url(sprite.png);
	background-position: 0px -9778px;
	height: 24px;
	width: 24px;
}

.glyphicons-419-e-mail {
	background-image: url(sprite.png);
	background-position: 0px -9802px;
	height: 24px;
	width: 24px;
}

