/* style for text pages */
/* normal page styles */
#page_style {
	
}

#page_style h2 {
	margin-top: 1.2em;
	margin-bottom: 1.2em;
}

#page_style p {
	line-height: 1.4em;
	margin-bottom: 1.2em;
}

#page_style ul {
	margin-left: 20px;
}