/*
 * Bookshelf - mock
 */

@font-face { font-family: Goudy; src: url('../fonts/GoudyBookletter1911.otf'); } 
@font-face { font-family: Junction; src: url('../fonts/Junction 02/Junction 02.otf'); } 

body {
	background-color: #fff;
	font-family: Goudy, Georgia, Times, serif;
	font-size: 11pt;
	line-height: 140%;
	color: #666;
}

a {
	text-decoration: none;
	color: #a82e24;
}

h2, h3 
{
	color: #000;
}

img {
	border: none;
}

#container
{
	margin: 0 auto;
	width: 100%;
	background: #fff;
}

#header-nav
{
	text-align: right;
	float: right;	
	padding-right: 10px;
	padding-top: 2px;
}

#header-nav ul
{
	display: inline;
}

#header-nav ul li
{
	display: inline;
	list-style: none;
	padding-left: 10px;
}

#header-nav ul li a
{
	color: #fff;
}

#search 
{
	padding-top: 5px;
}

#search input
{
	-moz-border-radius: 5px;
	border-radius: 5px;
}


#header
{
	background-color: #a82e24;
	background-color: #fff;
	padding: 0px;
	height: 110px;
	border-bottom: 1px solid #666;
	margin-bottom: 5px;
}

#header h1 
{ 
	margin: 0; 
	padding-left: 25px;
	font-family: Helvetica, sans-serif;
	color: #000;
	margin-top: 23px;
	letter-spacing: 20px;
}

#navigation
{
	float: left;
	width: 100%;
	background-color: #7C0507;
}

#navigation ul
{
	margin: 0;
	padding: 0;
	padding-left: 10px;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
	font-size: 75%;
	letter-spacing: 2px;
	font-weight: bold;
	text-transform: uppercase;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 2px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 2px solid #fff;
	font-family: Helvetica, sans-serif;
}

#navigation li a:hover 
{	 
	background: #078C99;
}

#navigation li a.selected 
{	 
	background: #078C99;
}


#content-container1
{
	float: left;
	width: 100%;
	background: #fff;	
}

#content-container2
{
	float: left;
	width: 100%;
	margin: 10px;
}

#sidebar-left
{
	float: left;
	width: 16%;
	padding: 20px 0;
	margin: 0 2%;
	/*display: inline; */
	padding-right: 10px;
	border-right: 1px solid #ccc;
	font-size: 90%;
	
}

#sidebar-left h3 
{ 
	margin: 0; 
	border-top: 1px solid #ccc;
	padding-top: 5px;
	margin-bottom: -10px;
}

#sidebar-left ul
{
	margin: 0;
	padding: 0;
}

#sidebar-left ul li
{
	margin: 0 0 1em;
	padding: 0;
	list-style-type: none;
}

#content
{
	float: left;
	width: 56%;
	padding: 20px 0;
	margin: 0 0 0 2%;
	padding-right: 10px;
	border-right: 1px solid #ccc;
}

body.calendar #content {
	width: auto;
}

#content h2 
{ 
	margin: 0; 
}

.article {
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
}

.article h2 {
	padding-top: 15px;
}

.article span.date {
	color: #499;
	font-family: Helvetica, sans-serif;
	font-size: 75%;
}

.article a {
	text-decoration: none;
	color: #a82e24;
	color: #466;
}

.read-more {
	text-align: right;
	font-size: 80%;
}

.read-more a {
	color: #a82e24;
}

#sidebar-right
{
	float: right;
	width: 16%;
	padding: 20px 0;
	margin: 0 2% 0 0;
	display: inline;
	font-size: 90%;
}

#sidebar-right h3 
{ 
	margin: 0; 
	border-top: 1px solid #ccc;
	padding-top: 5px;
	margin-bottom: -10px;	
}

#sidebar-right ul 
{
	margin: 0;
	padding: 0;
}

#sidebar-right ul li 
{
	list-style: none;
	padding: 5px;
	border-bottom: 1px solid #999;
}

#sidebar-right ul li:hover
{
	background-color: #999;
}

#sidebar-right ul li a
{
	color: #333;
}


#pre-footer
{
	clear: both;
	margin: 0;
	padding: 0px;
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom: 1px solid #666;
}

#pre-footer ul {
	display: inline;
}

#pre-footer ul li {
	list-style: none;
	display: inline-block;
	border: 1px dotted #000;
	width: 30%;
	padding: 5px;
}

#footer-nav
{
	float: left;
	margin-top: -5px;
	font-family: Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 90%;
}

#footer-nav ul
{
	display: inline;
}

#footer-nav ul li
{
	display: inline;
	list-style: none;	
	padding-right: 15px;
}

#footer-nav ul li a
{
	color: #000;
}

#footer
{
	font-size: 80%;
	clear: both;
	background-color: #fff;
	color: #000;
	text-align: right;
	padding: 20px;
	padding-left: 0;
	height: 1%;
	height: 30px;
}

/* specific pages */
#profile {
	margin: 20px;
}

#cart {
	margin: 20px;	
}

/* L I S T  V I E W */
ul.calendar-list {
	margin: 0;	
	width: 600px;
}

ul.calendar-list li {
	display: block;
	margin: 10px;
	margin-left: 0px;
	border-bottom: 2px solid #ddd;
}

ul.calendar-list li span.date {
	display: block;
	font-style: italic;
	color: #bbb;
	font-size: 130%;
}

ul.calendar-list li p {
	margin: 0;
	margin-left: 20px;
}

/* P O S T E R  V I E W */
table.calendar-poster {
	border-spacing: 10px 1px;
	width: 100%;
}

table.calendar-poster td {
	width: 200px;
}

table.calendar-poster span.date {
	padding: 3px;
	border: 1px solid #666;
	border-radius: 5px;
}

/* M O N T H  V I E W */
table.calendar-month {
	border-spacing: 1px 1px;
}

table.calendar-month th {
	height: auto;
	background: #333;
	color: #fff;
	font-size: 90%;
	border-radius: 5px;
}

table.calendar-month td {
	width: 89px;
	text-align: right;
	vertical-align: top;
	padding-bottom: 50px;
	font-size: 90%;
	border: 1px solid #ddd;
	border-radius: 5px;
}

table.calendar-month td.other {
	background-color: #eee;
}

table.calendar-month td span.day-num {
	color: #bbb;
	display: block;
	font-size: 250%;
}

table.calendar-month ul.event-list {
	margin: 0;
	padding: 0;
	margin-top: 10px;
	list-style: none;
}

table.calendar-month ul.event-list li {
	border: 1px solid #aaa;
	border-radius: 5px;
	width: 90%;
	margin-left: 2px;
	background-color: #cff;
	text-align: left;
	padding: 2px;
}

table.calendar-month ul.event-list li a {
}

/* calendar NUKE THIS
 * http://www.stefanoverna.com/log/create-astonishing-ical-like-calendars-with-jquery
 */
#full-calendar {
	float: left;
}
#full-calendar table {
	border-collapse: separate;
	border: 1px solid #9DABCE; 
	border-width: 0px 0px 1px 1px;
	margin: 10px auto;
	font-size: 20px;
}
#full-calendar td, th {
	width: 69px;
	height: 69px;
	text-align: center;
	vertical-align: middle;
	background: url(../img/cal/cells.png);
	color: #444;
	position: relative;
}
#full-calendar th {
	height: 30px;
	font-weight: bold;
	font-size: 14px;
}
#full-calendar td:hover, #full-calendar th:hover {
	background-position: 0px -81px;
	color: #222;
}
#full-calendar td.date_has_event {
	background-position: 162px 0px;
	color: white;
}
#full-calendar td.date_has_event:hover {
	background-position: 162px -81px;
}
#full-calendar td.padding {
	background: url(../img/cal/calpad.jpg);
}
#full-calendar td.today {
	background-position: 81px 0px;
	color: white;
}
#full-calendar td.today:hover {
	background-position: 81px -81px;
}

.events {
	position: relative;
}
.events ul {
	text-align: left;
	position: absolute;
	display: none;
	z-index: 1000;
	padding: 15px;
	background: #E7ECF2 url(../img/cal/popup.png) no-repeat;
	color: white;
	border: 1px solid white;
	font-size: 15px;
	width: 200px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	-border-radius: 3px;
	list-style: none;
	color: #444444;
	-webkit-box-shadow: 0px 8px 8px #333;
}
.events li {
	padding-bottom: 5px;
}
.events li span {
	display: block;
	font-size: 12px;
	text-align: justify;
	color: #555;
}
.events li span.title {
	font-weight: bold;
	color: #222;
}

#search_results {
	
}

#search_results table {
	font-size: 90%;	
	width: 90%;	
}

#search_results table th {
	height: auto;
	background: none;
	background-color: #666;
	color: white;
	text-align: left;
}

/* C A R T */
#cart {
	
}

#cart table {
	font-size: 90%;	
}

#cart table th {
	height: auto;
	background: none;
	background-color: #666;
	color: white;
	text-align: left;
}

#cart tr.odd {
	background-color: #ddd;
}

#cart td.right {
	text-align: right;
}

#cart td.dark {
	background-color: #666;
	color: white;
}
